@import url('https://fonts.google.com/specimen/Karla)');
@import url(util.css);

body{
    font-family: 'Karla',sans-serif;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content:center ;


}
*,
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    box-shadow:0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

.left{
    width: 50%;
    float: left;
    padding: 1.5rem;
    background-color: turquoise;
    
}
.right{
    width: 50%;
    float: right;
    padding: 1.5rem;
    background-color: rgb(105, 201, 191);
    
}
.btn-link {
    display: inline-block;
    width: 225px;
    text-decoration: none;
    padding: .8rem 1rem;
    margin-block: 12px;
    font-weight: 500;
    font-size: 1.25rem;
    background-color: rgb(220, 220, 108);
    
}

.top{
    background-color: white;
    padding: 4rem;
    border-radius: 1rem;
}
.title{
    font-size: 20px;
    color: rgb(37, 166, 226);
}
.sub-title{
    font-size: 16px;
    color:greenyellow ;
}
.description{
    font-size: 14px;
    color: grey;
}
.sub-title2{
    font: size 16px; 
    color: ivory;
}
.title2{
    color: ivory;
}
.sub-title3{
    color: ivory;
}
.sub{
    color: ivory;
}



